@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --first : #6E00FF;
    --second : #6700EE;
    --third : white;
    --fourth : white;
    --fifth : #FF64CB;
    --sixth : black;
    --customOne : white;
    --customTwo : white;
    --customMenuOne : #7a1bf6c5;
    --customMenuTwo : #a22b7a9e;
}

.App{
    margin: 0;
    font-family: 'Poppins', aerial;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-container{
    background: var(--first);
    a{
        color: white;
    }
}

header{
    
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 2em 4em;

    .logo{
        margin: auto 0;
        color: var(--third);
        font-weight: bold;
    }

    #hamburger{
        display: block;
    }

    nav{
        display: none;

    }

    .hamburger-nav{
        background: var(--customMenuOne);
    }

    .dark-blue{
        background: var(--customMenuTwo);
    }

}

.social-header, .hero-design{
    display: none;
}

.hero{
    display: flex;
    flex-direction: column;
    height: 82vh;
    background: var(--second);
    color: white;
    display: grid;
    text-align: center;
    padding: 2em;
}


.content{
    position: relative;
    order: 2;
    flex: 1;
}

.animation{
    height: 100%;
    width: 100%;
}

.canvas{
    order: 1;
    flex: 1;
    touch-action: pan-y !important;
    div{
        margin: auto;
        width: 60% !important;
    }
}

.card-container{
    padding-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.meet{
    margin:0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;
}

.scroll{
    width: 30px;
    margin-top: 2em;
    #circle{
        animation-name: scroll-up-down;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: var(--customOne);

    img{
        margin: auto 0;
    }
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:rgba($color: #83bde7, $alpha: 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6700EE;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title{
    color: var(--sixth);
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: var(--sixth);
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills-section{
    background: var(--fifth);
    height: 100vh;
    display: flex;
    flex-direction: column;

    div{
        margin: auto;
        word-break: break-word;
        text-align: start;

        span, h1{
            color:#6700EE;
            font-weight: bold;
        }

        p{
            font-size: calc(0.65em + 1vmin);
            color: var(--third);
        }

        h1{
            font-size: 2.5em;
        }
    }

    .skills{
        margin: auto;
        span{
            font-size: calc(0.75em + 1vmin);
            color: #E3E8EA;
        }
    }
}

.portfolio {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--customOne);
}

.contact{
    background: var(--second);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

.squares {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden }
  .square {
    animation: squares 9.5s linear infinite;
    align-self: flex-end;
    width: 1em;
    height: 1em;
    transform: translateY(100%);
    background: #ebebeb;  
    &:nth-child(2) { 
      height: 1.5em;  
      width: 3em;   
      animation-delay: 1s;
      animation-duration: 17s; 
      filter: blur(0.5px);
      -webkit-filter: blur(5px) }
    &:nth-child(3) { 
      height: 2em;    
      width: 1em;   
      animation-delay: 1.5s;
      animation-duration: 8s; 
      filter: blur(0.5px);
      -webkit-filter: blur() }
    &:nth-child(4) { 
      height: 1em;    
      width: 1.5em; 
      animation-delay: 0.5s;
      -webkit-filter: blur(3px);
      filter: blur(0.5px);
      animation-duration: 13s }
    &:nth-child(5) { 
      height: 1.25em; 
      width: 2em;   
      animation-delay: 4s;
      -webkit-filter: blur(2px);
      filter: blur(0.5px);
      animation-duration: 11s }
    &:nth-child(6) { 
      height: 2.5em;  
      width: 2em;   
      animation-delay: 2s;
      -webkit-filter: blur(1px);
      filter: blur(0.5px);
      animation-duration: 9s }
    &:nth-child(7) { 
      height: 5em;    
      width: 2em;   
      -webkit-filter: blur(2.5px);
      filter: blur(0.5px);
      animation-duration: 12s }
    &:nth-child(8) { 
      height: 1em;    
      width: 3em;   
      animation-delay: 5s;
      filter: blur(0.5px);
      -webkit-filter: blur(6px);
      animation-duration: 18s }
    &:nth-child(9) {
      height: 1.5em; 
      width: 2em; 
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
      animation-duration: 9s }
    &:nth-child(9) {
      height: 3em;
      width: 2.4em;
      animation-delay: 6s;
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
      animation-duration: 12s }}
  
  @keyframes squares { 
    from { transform: translateY(100%) rotate(-50deg) }
    to   { transform: translateY(-150vh) rotate(20deg) }}

@media only screen and (min-width:800px){


    .featured{
        text-align: left;
    }
    .featured{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left{
        display: grid;
        place-content: center;
    }

    right {
        margin-left: 2em;
        margin-top: 1em;
    }


    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap:1em;
    }

    header{
        .menu{
            display: none;
        }
        nav{
            
            display:block;
            margin: auto 0;
            float: right;
    
            ul{
                display: flex;
    
                a{
                    display: block;
                    padding: 0 1em;
                }
            }
        }
    }

}

@media only screen and (min-width:1050px){
    .hero{
        position: relative;
        height: 90vh;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background:var(--second) ;
        }
    }
    
    header{
        padding: 2em 2em 2em 4em;

        .menu{
            display: none;
        }
    }

    .social-header{
        padding: 2em 2em 2em 2em;
    }

    section{
        padding: 4em;
    }

    .social-header{
        background: var(--customOne);
        display: block;
        
        ul{
            display: flex;
            justify-content: space-between;
            width: 10em;
            float: right;

            img{
                width: 24px;
            }
        }
    }

    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

    }

    .content{
        background: var(--first);
        padding: 6em 8em 6em 4em;
        text-align: left;
        order: 1;
    }

    .meet{
        width: 500px;
        margin: 0 0;
        text-align: left;
    }

    h1{
        font-size: 3em;
        line-height: 1.2em;
        max-width: 500px;
    }

    .animation{
        display: contents;
    }

    .canvas{
        background: var(--customTwo);
        height: 100%;
        width: 100%;
        order: 2;
        div{
            width: 100% !important;
        }
    }


    .skills-section{
      flex-direction: row;

      div{
        width: 50%;
      }

      .skills{

        span{
            font-size: xx-large
        }

      }
      
    }

    .contact{
        flex-direction: row;
    }
}


@keyframes scroll-up-down {
    0% {transform: translate(7.6px,9px);}
    50% {transform: translate(7.6px,42px);}
    100% {transform: translate(7.6px,9px);}
  }